In [1]:
import pandas as pd

# Small dataset with users, books, and ratings
data = {
    "user": ["A", "A", "A", "B", "B", "C", "C", "D", "D", "E"],
    "book": [
        "Harry Potter", "Twilight", "The Hobbit",
        "Harry Potter", "The Hobbit", "Twilight",
        "The Alchemist", "Harry Potter", "The Alchemist", "Twilight"
    ],
    "rating": [5, 3, 4, 4, 5, 2, 5, 4, 5, 3]
}

df = pd.DataFrame(data)
df.to_csv("books.csv", index=False)
print("✅ books.csv created successfully!")
df.head()

✅ books.csv created successfully!

  user          book  rating
0    A  Harry Potter       5
1    A      Twilight       3
2    A    The Hobbit       4
3    B  Harry Potter       4
4    B    The Hobbit       5

In [3]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Load dataset
df = pd.read_csv("books.csv")
print(df.head())

  user          book  rating
0    A  Harry Potter       5
1    A      Twilight       3
2    A    The Hobbit       4
3    B  Harry Potter       4
4    B    The Hobbit       5

In [5]:
# Create user-book rating matrix
ratings_matrix = df.pivot_table(index='user', columns='book', values='rating').fillna(0)

# Compute similarity between books
similarity = cosine_similarity(ratings_matrix.T)
similarity_df = pd.DataFrame(similarity, index=ratings_matrix.columns, columns=ratings_matrix.columns)

print("✅ Similarity Matrix Created")
similarity_df

✅ Similarity Matrix Created

book           Harry Potter  The Alchemist  The Hobbit  Twilight
book
Harry Potter       1.000000       0.374634    0.827429  0.423587
The Alchemist      0.374634       1.000000    0.000000  0.301511
The Hobbit         0.827429       0.000000    1.000000  0.399556
Twilight           0.423587       0.301511    0.399556  1.000000

In [7]:
def recommend(book_name):
    if book_name not in similarity_df.columns:
        return "Book not found!"
    similar_books = similarity_df[book_name].sort_values(ascending=False)[1:4]
    return similar_books

# Example: Recommend books similar to 'Harry Potter'
print("Books similar to 'Harry Potter':")
print(recommend("Harry Potter"))

Books similar to 'Harry Potter':
book
The Hobbit       0.827429
Twilight         0.423587
The Alchemist    0.374634
Name: Harry Potter, dtype: float64

In [9]:
print("Books similar to 'Twilight':")
print(recommend("Twilight"))

Books similar to 'Twilight':
book
Harry Potter     0.423587
The Hobbit       0.399556
The Alchemist    0.301511
Name: Twilight, dtype: float64